<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 w-50">

        
    <h2>Neues Passwort setzen</h2>
    <form (ngSubmit)="resetPassword()">
        <div class="mb-3">
            <label for="newPassword" class="form-label">Neues Passwort</label>
            <input type="password" [(ngModel)]="passwordResetData.newPassword" name="newPassword" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-success">Passwort speichern</button>
    </form>

    <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
    </div>


</div>
</div>

  
