

<header class="container-fluid">
    <div class="d-flex align-items-center">
        <!-- Logo links -->
        <div class="me-3">
            <img src="assets/images/kima_logo_gruen_rot_rgb.png" alt="Kirschbaum" class="img-fluid" style="width: 100px; height: 100px;">
        </div>

        <!-- Links oben rechts und Text darunter -->
        <div class="flex-grow-1">
            <!-- Navigation oben -->
            <nav class="nav-item">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="/probanden">Probanden</a>
                    </li>
                    <li class="nav-item">
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" routerLink="/kunden">Kunden</a>
                    </li>
                    <li class="nav-item">
                        <a class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="https://tcd3b40f5.emailsys1a.net/166/3797/894a492721/subscribe/form.html?_g=1600358208">Newsletter</a>
                    </li>
                </ul>
            </nav>

            <!-- Text unterhalb der Links -->
            <p class="text-dark text-center text-md-start">Willkommen bei <b>Kirschbaum Marktforschung</b></p>
        </div>
    </div>
</header>

