
<header class="container-fluid bg-light shadow-sm py-3">
    <div class="d-flex align-items-center justify-content-between">
        <!-- Logo links -->
        <img src="assets/images/kima_logo_gruen_rot_rgb.png" alt="Kirschbaum" class="img-fluid ms-3" style="width: 100px; height: 100px;">

        <!-- Navigationsleiste -->
        <nav>
            <ul class="nav justify-content-end me-3">
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/probanden">Probanden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" routerLink="/kunden">Kunden</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="https://tcd3b40f5.emailsys1a.net/166/3797/894a492721/subscribe/form.html?_g=1600358208">
                        Newsletter
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>


