/* Footer */


footer {
    background-color: var(--primary-color);
    padding: 15px 20px;
}
.card {
    border: 2px solid #ccc; /* Füge eine graue Randlinie hinzu */
}
.modal-content {
    background-color: #f4f4f4; /* Hintergrundfarbe des Modals */
    color: #000; /* Textfarbe des Modals */
}


footer a {
    color: var(--link-color);
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--link-hover-color);
    text-decoration: underline;
}