<footer id="footer" class="container-fluid py-5 bg-dark text-light">
    <!-- <div class="container"> -->
        <!-- <h2 class="text-center mb-5">Wir Informieren</h2> -->
        
        <!-- <div class="row"> -->
            <!-- Item 1: FAQ -->
            <!-- <div id="item1" class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-light p-4 h-100">
                    <div class="d-flex align-items-center">
                        <img src="assets/Images/FAQ2.svg" alt="FAQ" class="me-3" style="width: 80px; height: 80px;">
                        <div>
                            <h3 class="text-dark">FAQ</h3>
                            <p class="text-dark">Sie haben Fragen?<br/> Wir beantworten Sie gerne!  (kommt bald)</p>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Item 2: Datenschutz -->
            <!-- <div id="item2" class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-light p-4 h-100">
                    <div class="d-flex align-items-center">
                        <img src="assets/Images/Datenschutz.svg" alt="Datenschutz" class="me-3" style="width: 80px; height: 80px;">
                        <div>
                            <h3 class="text-dark">Datenschutz</h3>
                            <p class="text-dark">Wir nehmen den Schutz ihrer Daten sehr ernst</p>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Item 3: Impressum -->
            <!-- <div id="item3" class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-light p-4 h-100">
                    <h3 class="text-dark">Impressum</h3>
                    <p class="text-dark">
                        Ingo Kirschbaum<br/>
                        Markt und Meinungsforschung (Einzelunternehmer)<br/>
                        Feldmochinger Str. 53<br/>
                        80993 München <br/><br/>
                        <strong>Kontakt</strong><br/>
                        Telefon: <a href="tel:+498974100972" class="text-dark">+49 (0) 89 741 009 72</a><br/>
                        E-Mail: <a href="mailto:info&#64;kimafo.com" class="text-dark">info&#64;kimafo.com</a><br/><br/>
                        <strong>Umsatzsteuer-ID</strong><br/>
                        Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br/>
                        DE206868409<br/><br/>
                        Quelle: https://www.e-recht24.de
                    </p>
                </div>
            </div> -->

            <!-- Item 4: Feedback -->
            <!-- <div id="item4" class="col-md-6 col-lg-4 mb-4">
                <div class="card bg-light p-4 h-100">
                    <div class="d-flex align-items-center">
                        <img src="assets/Images/Feedback.svg" alt="Feedback" class="me-3" style="width: 80px; height: 80px;">
                        <div>
                            <h3 class="text-dark">Feedback</h3>
                            <p class="text-dark">Wir freuen uns über Ihre Meinung</p>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Item 5: Newsletter -->
            <!-- <div id="item5" class="col-md-6 col-lg-4 mb-4 mx-auto">
                <div class="card bg-light p-4 text-center">
                    <a href="https://tcd3b40f5.emailsys1a.net/166/3797/894a492721/subscribe/form.html?_g=1600358208" class="btn btn-primary btn-lg">
                    Hier können Sie sich einfach und unkompliziert registrieren:
                    </a>
                <img src="assets/Images/qr-code.png" alt="QR-Code" class="mt-4" style="height: 150px;">
                </div>
            </div> -->


<!-- Impressum Link -->
<div id="item3" class="col-md-6 col-lg-4 mb-4">
    <a href="#" class="text-decoration-underline text-light" data-bs-toggle="modal" data-bs-target="#impressumModal">Impressum</a>
</div>

<!-- Modal für Impressum -->
<div class="modal fade" id="impressumModal" tabindex="-1" aria-labelledby="impressumModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="impressumModalLabel">Impressum</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-Impressum">                
                <p>
                    Ingo Kirschbaum<br/>
                    Markt und Meinungsforschung (Einzelunternehmer)<br/>
                    Feldmochinger Str. 53<br/>
                    80993 München <br/><br/>
                    <strong>Kontakt</strong><br/>
                    Telefon: <a href="tel:+498974100972">+49 (0) 89 741 009 72</a><br/>
                    E-Mail: <a href="mailto:info&#64;kimafo.com" class="text-dark">info&#64;kimafo.com</a><br/><br/>
                    <strong>Umsatzsteuer-ID</strong><br/>
                    Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz:<br/>
                    DE206868409<br/><br/>
                    Quelle: https://www.e-recht24.de
                </p>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>


        <!-- </div> -->
    <!-- </div> -->
</footer>
