

<div class="impressum-page">
<div class="impressum-content p-4 bg-light rounded shadow-sm mx-auto text-center"
     style="max-width: 600px; border: 3px solid #1abc9c;">
  <h2 class="mb-4">Impressum</h2>
  <p class="mb-0">
    <strong>Ingo Kirschbaum</strong><br/>
    Markt und Meinungsforschung (Einzelunternehmer)<br/>
    Feldmochinger Str. 53, 80993 München<br/><br/>
    <strong>Kontakt</strong><br/>
    Telefon: <a href="tel:+498974100972" class="text-dark">+49 (0) 89 741 009 72</a><br/>
    E-Mail: <a href="mailto:info&#64;kimafo.com" class="text-dark">info&#64;kimafo.de</a><br/><br/>
    <strong>Umsatzsteuer-ID</strong><br/>
    DE206868409<br/><br/>
    Quelle: <a href="https://www.e-recht24.de" target="_blank" class="text-dark">e-recht24.de</a>
  </p>
</div></div>