<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card shadow p-4 w-50">


    <h2>Passwort zurücksetzen</h2>
    <form (ngSubmit)="requestPasswordReset()">
        <div class="mb-3">
            <label for="email" class="form-label">E-Mail-Adresse</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" required />
        </div>
        <button type="submit" class="btn btn-primary">Link anfordern</button>
    </form>

    <div *ngIf="successMessage" class="alert alert-success mt-3">
        {{ successMessage }}
    </div>


</div>
</div>

  