<section id="section_1">
    <img id="wewantyou" src="Images/Wewantyou.jpg" alt="wewantyou" >
    <div class="container_1">
         <h2>Wir brauchen Dich!</h2><br/>
         <p>Hast Du dich nicht auch schon mal über seltsame
            Verpackungen und deren Öffnungsmöglichkeiten gewundert oder 
            würdest den Herstellern gerne einmal Deine Meinung über deren 
            Produkte oder Dienstleistungen mitteilen?<br>
           Wir sind immer auf der Suche nach Teilnehmern, die eine Meinung 
           zu den verschiedensten Themen des Alltags haben und sich nicht 
           scheuen, diese mit anderen zu teilen.<br>        
           Mach mit und sag uns Deine Meinung / Dein Point of View - 
           denn nur das zählt!</p>
    </div>              
</section>

<section id="section_2">
            <h2>Wir brauchen dich für:</h2><br/>
            <div class="flex_container">
                <div class="card">
            <ul class="liste">
                    Umfragen<br/>
                    Interviews<br/>
                    Produkttests<br/>
                    Fokusgruppen<br/>
                    Beobachtungen durchführen <br/>                   
                    Feedback einholen<br/>
                    Studien    <br/> 
                    <br/> 
                    <div class="newsletter-link">
                    <li><a href="https://tcd3b40f5.emailsys1a.net/166/3797/894a492721/subscribe/form.html?_g=1600358208" class="newsletter-link">
                        Newsletter</a></li>   
                    </div>               
            </ul>                   
             </div>                             
            </div>        
</section>
