

section {
    padding: 0; 
  }
  section:last-of-type {
    border-bottom: none; 
  }
  
  .section-light {
    background-color: #ffffff; 
    color: var(--secondary-text-color); 
  }
  
  .section-dark {
   
    h1, h2, h3, h4, h5, h6 {
       color: var(--headline-color) ; 
    }
     a { 
         color: var(--link-color2) ; 
     }
     a:hover {
         color: #ffffff ; 
         border-bottom-color: #ffffff;
     }
  } 

  .list-group-item .bi {
    font-size: 1.2rem; /* Etwas größer als normaler Text */
    min-width: 1.5em; /* Sorgt für gleiche Einrückung des Textes */
    /* color: var(--secondary-color); */ /* Alternativ deine Akzentfarbe */
  }

  .we-want-you-image {
    max-width: 350px; /* Beispiel: Begrenze die Breite auf 350px */
    height: auto;     /* Höhe automatisch anpassen */
    display: block;   /* Sicherstellen, dass margin auto funktioniert */
    margin-left: auto; /* Zentriert das Bild horizontal, wenn text-center nicht reicht */
    margin-right: auto;
  }

  .meeting-image {
    max-width: 500px; /* Beispiel: Begrenze die Breite auf 350px */
    height: auto;     /* Höhe automatisch anpassen */
    display: block;   /* Sicherstellen, dass margin auto funktioniert */
    margin-left: auto; /* Zentriert das Bild horizontal, wenn text-center nicht reicht */
    margin-right: auto;
  }
