<div class="maintenance-wrapper">
    <h1>🚧 KiMa wird gerade neu gebaut! 🚀</h1>
    <p>Unsere neue Webseite befindet sich hier gerade noch in der Testphase.</p>
    <p>Wenn du einen Einladungslink bekommen hast wünschen wir dir viel Spaß beim Testen 😊</p>
    <p>Wenn du einfach unsere Webseite für Informationen, wie du bei uns mitmachen kannst als Proband,</p>
    <p> oder wie wir deiner Firma bei Marktforschungs-Projekten helfen können, besuche einfach unsere noch aktive Webseite auf 👉🏼 kimafo.de </p>
  </div>
  
