<div class="container mt-5">
  <div class="card shadow p-4">
    <h2 class="text-center">Hallo {{ userData?.userName }}, willkommen!</h2>
    <p class="text-center">Hier kannst du deine Daten verwalten.</p>

    <div class="text-center mt-3">
      <button class="btn btn-primary" (click)="openModal()">Meine Daten</button>
    </div>
  </div>
</div>

<!-- 🔹 Modal für Benutzerdaten -->
<div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg"> <!-- 🔹 Größeres Modal für bessere Darstellung -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModalLabel">Meine Daten</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #userForm="ngForm" (ngSubmit)="onSaveChanges()">
          <div class="row">
            <div class="col-md-6">
              <label for="email" class="form-label">E-Mail</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="updatedUserData.email" name="email" disabled>
            </div>
            <div class="col-md-6">
              <label for="username" class="form-label">Benutzername</label>
              <input type="text" class="form-control" id="username" [(ngModel)]="updatedUserData.userName" name="userName">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="firstName" class="form-label">Vorname</label>
              <input type="text" class="form-control" id="firstName" [(ngModel)]="updatedUserData.firstName" name="firstName">
            </div>
            <div class="col-md-6">
              <label for="lastName" class="form-label">Nachname</label>
              <input type="text" class="form-control" id="lastName" [(ngModel)]="updatedUserData.lastName" name="lastName">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="phoneMobile" class="form-label">Mobilnummer</label>
              <input type="text" class="form-control" id="phoneMobile" [(ngModel)]="updatedUserData.phoneMobile" name="phoneMobile">
            </div>
            <div class="col-md-6">
              <label for="phonePrivate" class="form-label">Telefon (Privat)</label>
              <input type="text" class="form-control" id="phonePrivate" [(ngModel)]="updatedUserData.phonePrivate" name="phonePrivate">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="street" class="form-label">Straße</label>
              <input type="text" class="form-control" id="street" [(ngModel)]="updatedUserData.street" name="street">
            </div>
            <div class="col-md-6">
              <label for="city" class="form-label">Stadt</label>
              <input type="text" class="form-control" id="city" [(ngModel)]="updatedUserData.city" name="city">
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <label for="zip" class="form-label">PLZ</label>
              <input type="text" class="form-control" id="zip" [(ngModel)]="updatedUserData.zip" name="zip">
            </div>
            <div class="col-md-6">
              <label for="country" class="form-label">Land</label>
              <input type="text" class="form-control" id="country" [(ngModel)]="updatedUserData.country" name="country">
            </div>
          </div>

          <div class="mt-3">
            <label for="password" class="form-label">Passwort (leer lassen, wenn nicht ändern)</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="updatedUserData.password" name="password">
          </div>

          <div class="text-center mt-4">
            <button type="submit" class="btn btn-success">Speichern</button>
            <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Abbrechen</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
