/* Globale CSS-Variablen */
:root {
    --main-brand-color: #CCCCCC;
    --primary-color: #f0f0f0;
    --secondary-color: #1abc9c;
    --light-secondary-color: #16a085;
    --headline-color: #0056b3;
    --text-color: #f0f0f0;
    --secondary-text-color: #333333;
    --link-color: #1abc9c;
    --link-color2: #F0F0F0;
    --link-hover-color: #16a085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;    
}

main {
    flex: 1;
    background-color: var(--main-brand-color);
}


h1, h2, h3, h4, h5, h6 {
    color: var(--headline-color) ;
    
}

.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh ;
}

    a {
    color: var(--link-color) ;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
    border-bottom: 2px solid var(--link-hover-color);   
}

a.logo:hover {
    border-bottom: none ;
  }  

.alert {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .alert.ng-leave {
    opacity: 0;
  }