/* Globale CSS-Variablen */
:root {
    --main-brand-color: #A71417;
    --primary-color: #f0f0f0;
    --secondary-color: #333333;
    --light-secondary-color: #ffffff;
    --text-color: #f0f0f0;
    --secondary-text-color: #333333;
    --link-color: #f0f0f0;
    --link-color2: #A71417;
    --link-hover-color: #27ae60;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}


/* 🔹 Stellt sicher, dass das gesamte Viewport-Höhe genutzt wird */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* 🔹 Der Hauptinhalt nimmt die volle Höhe ein */
.content-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
}

/* 🔹 Footer bleibt immer unten */
footer {
    background-color: #212529;
    color: white;
    text-align: center;  
    width: 100%; 
    margin-top: auto;     
}


/* Allgemeine Link-Stile */
    a {
    color: var(--link-color2);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
    border-bottom: 2px solid var(--link-hover-color);
}

/* Button: Nach oben */
.btn_oben {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--main-brand-color);
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn_oben a {
    color: var(--text-color);
    font-size: 24px;
    text-decoration: none;
}

.btn_oben:hover {
    background-color: var(--link-hover-color);
    transform: scale(1.1);
}

.alert {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
  
  .alert.ng-leave {
    opacity: 0;
  }

  







