

<div class="container mt-4">
    <h2>Projekt versenden</h2>
    <form (ngSubmit)="onSend(fm)" #fm="ngForm">
      <div class="mb-3">
        <label>Projekt-Name</label>
        <input type="text" class="form-control" [(ngModel)]="campaignName" name="campaignName" required>
      </div>
      <div class="mb-3">
        <label>Datei hochladen</label>
        <input type="file" class="form-control" (change)="onFile($event)" required>
      </div>
      <div class="mb-3">
      <label>Empfänger wählen</label>
      <table class="table">
        <thead>
          <tr>
            <th>
              <input type="checkbox"
                    [(ngModel)]="allSelected"
                    (change)="toggleAll()"
                    name="allSelected">
            </th>
            <th>E-Mail</th>
            <th>Benutzername</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of users">
            <td>
              <input type="checkbox"
                    [checked]="selected.has(u.email)"
                    (change)="toggleOne(u.email)">
            </td>
            <td>{{ u.email }}</td>
            <td>{{ u.userName }}</td>
          </tr>
        </tbody>
      </table>
    </div>

      <button class="btn btn-primary" [disabled]="!fm.form.valid || !file">Senden</button>
    </form>
    <div *ngIf="message" class="alert alert-info mt-3">{{ message }}</div>
  </div>
  