.IngoKirschbaum {
    max-width: 70%;  
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

section {
    padding: 0; 
  }
  section:last-of-type {
    border-bottom: none; 
  }
  
  .section-light {
    background-color: #ffffff; 
    color: var(--secondary-text-color); 
  }
  
  .section-dark {
   
    h1, h2, h3, h4, h5, h6 {
       color: var(--headline-color) ; 
    }
     a { 
         color: var(--link-color2) ; 
     }
     a:hover {
         color: #ffffff ; 
         border-bottom-color: #ffffff;
     }
  } 
  
  .about-us-image { 
    max-width: 400px; 
    height: auto;
    display: block; 
    margin-left: auto;
    margin-right: auto;
  }  
  
  .services-section .card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    overflow: hidden;
  }
  .services-section .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }  
  
  .card-img-top {
    max-height: 200px;
    object-fit: cover;
    width: 100%;
  }  
  
  .card {
    display: flex;
    flex-direction: column;
  }
  .card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center; 
    text-align: center; 
  }
  .card-body .mt-auto { 
    margin-top: auto;
  }
  
 
  .fade-out {
    transition: opacity 1s ease-out;
    opacity: 0;
  }