


<section id="section_0">
<div class="p-4 mb-3 bg-dark text-light rounded">
    <p class="mb-0 subheading">
      Marktforschung ist der Schlüssel zum Verständnis von Märkten, 
      Kunden und Wettbewerbern. Entdecken Sie, wie wir Ihnen helfen können, 
      wertvolle Einblicke zu gewinnen und fundierte Entscheidungen zu treffen.
    </p>
  </div>
</section>

<section id="section_1">
    <div class="container_1">
        <h2>Über uns</h2>
        <div class="d-flex align-items-center flex-wrap">
            <!-- Bild -->
            <img src="assets/images/IngoKirschbaum.jpg" class="rounded me-4"  alt="Ingo Kirschbaum" id="ingokirschbaum" />
            
            <!-- Text -->
            <p>
                Wir sind ein Marktforschungsunternehmen, das sich auf die 
                Durchführung von Studien und Umfragen spezialisiert hat. 
                Unser Ziel ist es, die Meinungen und Bedürfnisse der 
                Verbraucher zu erfassen und an die Hersteller und 
                Dienstleister weiterzugeben. Wir arbeiten mit verschiedenen 
                Unternehmen zusammen, um die Qualität ihrer Produkte und 
                Dienstleistungen zu verbessern. Wir sind immer auf der Suche 
                nach Teilnehmern, die eine Meinung zu den verschiedensten 
                Themen des Alltags haben und sich nicht scheuen, diese mit 
                anderen zu teilen.
            </p>
        </div>
    </div>
</section>




<section id="section_2">
<h2>Wir bieten folgenden Dienstleistungen an</h2><br/>
<div class="flex_container">
<div class="card">
    <img src="assets/images/Marktforschung1.jpg" alt="">
    <h3>Probanden/<br/>Rekrutierung</h3>
    <p>Wir rekrutieren Probanden und vermitteln sie an eine Vielzahl von Projekten</p>
    <a href="Probanden.html">Mehr erfahren</a>
</div>
<div class="card">
    <img src="assets/images/Marktforschung2.jpg" alt="">
    <h3>Projektmanagement</h3>
    <p>Wir führen Projekte für Ihre Firma durch</p>
    <a href="Kunden.html">Mehr erfahren</a>
</div>            
</div>
</section>