


#section_0 {    
    color: var(--secondary-text-color);
    text-align: center;
}
.subheading {
    font-size: 1.25rem; 
    line-height: 1.5;
    font-weight: 300;  
}

/* Bild-Stile */
#ingokirschbaum {
    width: 40%; /* Bildbreite: 40% des Containers */
    max-width: 300px; /* Maximalbreite des Bildes */
    border: 10px solid var(--secondary-color);
    border-radius: 50px;
}

#section_1{
    padding: 50px;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;   
}
.container_1{
    width: 100%; /* Der Container nimmt die gesamte Breite ein */
    max-width: 1200px; /* Begrenzung auf eine maximale Breite für große Bildschirme */
    /* margin: 20px auto; */
    padding: 20px;   
    color: var(--secondary-text-color);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Flexbox für Bild und Text */
.container_1 .d-flex {
    display: flex;
    align-items: center;
    gap: 20px; /* Abstand zwischen Bild und Text */
}

.container_1 h2{
    font-size: 50px;   
    text-align: center;
}

.container_1 p {
    flex: 1; /* Text nimmt den restlichen Platz ein */
    text-align: justify;
    line-height: 175%;
    font-size: 18px;
}

@media (max-width: 600px) {
    .container_1 .d-flex {
        flex-direction: column;
        align-items: center;
    }

    #ingokirschbaum {
        width: 80%; /* Bild nimmt mehr Breite bei kleinen Bildschirmen ein */
        margin-bottom: 20px; /* Abstand zum Text */
    }
}


#section_2 {
    padding : 70px 0;
    background-color: var(--secondary-color);
}
#section_2 h2{
    font-size: 50px;
    color: var(--text-color);
    text-align: center;
}
.flex_container{
    margin-top: 50px;
    display: flex;
    gap: 80px;  
    justify-content: center; 
    flex-wrap: wrap;
}
.card{
    width: 550px;
    max-width: calc(90% - 40px);
    background-color: var(--primary-color);
    border-radius: 100px;
    padding: 60px 20px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.card *{
    text-align: center;
}
.card a{
    background-color: #333;
    color: var(--text-color);
    width: min-content;
    padding: 15px 40px;
    border-radius: 50px;
    margin: 0 auto;
    text-decoration: none;
}
.card img {
    border-radius: 50px;
}
.card a:hover{
    background: transparent;
    color: var(--link-hover-color);  
    background-color: var(--secondary-color);
    transition: background-color 1.8s ease, color 1.8s ease;
}
.liste{
    font-size: 28px;
}

.card {
    background-color: var(--light-secondary-color);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}